responda sempre em português do brasil
entenda sempre meu projeto antes de excecutar as tarefas para não criar arquivos duplicados e erros
estou usando windows
toda vez que for criar algo relacionado a visual verificar os componenetes do polaris em https://polaris.shopify.com/components
estou desenvolvendo para shopify então consulte a documentação https://shopify.dev/docs/apps/build antes de executar funções necessárias para não ter problemas de tags ou código antigo
sempre que tiver uma tarefa executada adicione a informação no arquivo README.md
use sempre readm.md como guia para as tarefas
atualize sempre a estrutura de pastas dentro do readme.md
pegue sempre o contexto de toda conversa antes de executar alguma tarefa
Não alterar nada do visual quando eu não pedir
Fazer somente oque foi solicitado, sem alterar ou atualizar códigos desnecessários
Quando der problema de ferramentas desatulizadas utilizar o MCP context7 para resolver o problema antes
Só use MCP quando eu pedir
Verificar antes em todas as pastas se não existe o arquivo antes de criar